{% extends "base.html" %}
{% load staticfiles %}
{% static 'static_jquery/js/jquery.js' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dir-pages.css' %}"/>
    <div class="container" style="position: center;">

        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                {% if not pets %}
                    <div class="col-xs-16 col-sm-16">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <p>There are no suitable adverts.</p>
                                </div>
                            </li>
                        </ul>
                    </div>


                {% else %}
                    {% for pet in pets %}
                        <div class="col-xs-16 col-sm-16">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    {% for r in requests %}
                                        {% if pet == r.petId %}
                                            <div class="row">
                                                <img class="img-circle"
                                                     src={{ r.petId.photo.url }} style="width:110px;height:110px;display:inline-block"/>
                                            </div>


                                            <div style="font-size: large">👱 My name
                                                is {{ pet.ownerId.first_name }} {{ pet.ownerId.userId.last_name }} and I
                                                want
                                                you to
                                                host
                                                my pet named {{ r.petId.name }}
                                            </div>
                                            <li class="list-group-item">👱 Owner: <a
                                                    href="/profile?id={{ pet.ownerId.id }}">{{ pet.ownerId.first_name }}</a>
                                            </li>
                                            <li class="list-group-item">📅 From: {{ r.startDate }}</li>
                                            <li class="list-group-item">📅 To: {{ r.endDate }}</li>
                                            <li class="list-group-item"> More info about advert: <a
                                                    href="/stayRequest?id={{ r.id }}">More info</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}