{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster"/>
    <div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group pull-right">
                    <a href="{% url 'login' %}" class="btn btn-lg btn-primary btn-block">Logout </a>
                </div>
                <h4 style="font-family:lobster; text-align: center">User Profile</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <img alt="User Pic"
                         src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                         id="profile-image1" class="img-circle img-responsive">
                </div>
                <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                    {% csrf_token %}
                    <div class="container">
                        <h2>{{ user.firstName }} {{ user.lastName }}</h2>
                    </div>
                    <hr>
                    <ul class="container details">
                        <li><p><span class="glyphicon glyphicon-phone-alt" style="width:50px;"></span>{{ user.contact }}
                        </p></li>
                        <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{ user.mail }}
                        <li><p><span class="glyphicon glyphicon-home" style="width:50px;"></span>{{ user.city }}
                        </p></li>
                    </ul>
                    <hr>
                    <div class="col-sm-5 col-xs-6 tital ">Description</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
