{% extends "base.html" %}
{% load staticfiles %}
{% static 'static_jquery/js/jquery.js' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block content %}
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster"/>
    <div class="row">
        <div class="col-xs-auto">
            <div class="panel panel-default " id="panel-bckgrd" style="
                    background-image: url('../../static/img/bck-img/one.png');
                    background-position: center, top;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    max-width: 100vw;
                    min-height: 100vh;"/>
            <div class="container" style="position: center;">
                <div class="panel panel-default" style="margin-top:25px;">
                    <div class="panel-body">
                        <div class="card hovercard">
                            <div class="container">
                                <div class="row">
                                    <div class="profile-header-container">
                                        <div class="profile-header-img" style="position: relative">
                                            <div class="profile-header">
                                                <img class="img-circle" {% if logout %} id="avatar" {% endif %}
                                                     src={{ user_data.photo.url }} style="width:200px;height:200px;display:block;"/>
                                                {% if logout %}
                                                    <a href="/addPhoto">
                                                        <img src="static/img/imgIcon.png"
                                                             style="width:50px;height:50px;position:absolute;"
                                                             id="plus"/>
                                                    </a>
                                                {% endif %}
                                            </div>

                                            <div class="profile-header" style="margin-left: 35px;position: static">
                                                <div> .</div>
                                                <div>{{ user.first_name }}</div>
                                                <div>{{ user.last_name }}</div>
                                                <div> .</div>
                                                <div> .</div>

                                            </div>
                                            <div class="rank-label-container">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-info"><span class="card-title"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <ul class="nav nav-pills nav-stacked admin-menu">
                                <li class="active"><a href="" data-target-id="profile"><i
                                        class="glyphicon glyphicon-user"></i> About me</a></li>
                                <li><a href="" data-target-id="myadverts"><i
                                        class="glyphicon glyphicon-pencil"></i> Add advert</a></li>
                                <li><a href="" data-target-id="pets"><i class="glyphicon glyphicon-heart"></i> Pets</a>
                                </li>
                                <li><a href="" data-target-id="reputation"><i class="glyphicon glyphicon-star"></i> Reputation</a>
                                </li>
                            </ul>
                        </div>


                        <div class="col-md-9 admin-content" id="profile">
                            {% csrf_token %}


                            <div class="panel panel-default" style="margin: 1em;">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Email</h3>
                                </div>
                                <div class="panel-body">
                                    {{ user.email }}
                                </div>
                            </div>

                            <div class="panel panel-default" style="margin: 1em;">
                                <div class="panel-heading">
                                    <h3 class="panel-title">City</h3>
                                </div>
                                <div class="panel-body">
                                    {{ user_data.city }}
                                </div>
                            </div>
                            <div class="panel panel-default" style="margin: 1em;">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Phone number</h3>
                                </div>
                                <div class="panel-body">
                                    {{ user_data.contact }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9 admin-content" id="myadverts">
                            {% csrf_token %}
                            <div class="panel panel-default" style="margin: 1em;">
                                <div class="panel-heading">
                                    <h3 class="panel-title">My adverts</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        {% if  not stay_requests %}
                                            <p class="text-center">You haven't added any requests adverts yet.</p>
                                        {% else %}

                                            <div class="col-xs-12 col-sm-auto">
                                                <p class="text-center">Host my pets</p>
                                                {% for requests in stay_requests %}
                                                    <ul class="list-group">

                                                        <li class="list-group-item">


                                                            <div class="row">

                                                                <img class="img-circle" {% if logout %}
                                                                     id="petsAvatar" {% endif %}
                                                                     src={{ requests.petId.photo.url }} style="width:70px;height:70px;display:inline-block"/>
                                                            </div>
                                                         <div style="font-size: large">{{ requests.petId.name }}
                                                            </div>

                                                        </li>

                                                        <li class="list-group-item"><i
                                                                class="glyphicon glyphicon-calendar"></i>
                                                            Date: {{ requests.startDate }} <i
                                                                    class="glyphicon glyphicon-arrow-right"></i> {{ requests.endDate }}
                                                        </li>
                                                        <li class="list-group-item"><i
                                                                class="glyphicon glyphicon-home"></i> Host
                                                            city: {{ user_data.city }}</li>

                                                        <li class="list-group-item"><a
                                                                href="stayRequest?id={{ requests.id }}">more info...</a>
                                                        </li>
                                                    </ul>

                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        {% if logout %}
                                            <form class="form-login" method="post" action="/addGuestAdvert">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                <button class="btn btn-outline-primary center-block" type="submit">
                                                    Add guest advert
                                                </button>
                                            </form>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        {% if  not stay_possibilities %}
                                            <p class="text-center">You haven't added any adverts for hosting.</p>
                                        {% else %}
                                            <div class="col-xs-12 col-sm-auto">
                                                <p class="text-center">My offers</p>
                                                {% for advert in stay_possibilities %}
                                                    <ul class="list-group">

                                                        <li class="list-group-item"><i
                                                                class="glyphicon glyphicon-calendar"></i>
                                                            Date: {{ advert.startDate }} <i
                                                                    class="glyphicon glyphicon-arrow-right"></i> {{ advert.endDate }}
                                                        </li>
                                                        <li class="list-group-item"><i
                                                                class="glyphicon glyphicon-home"></i> Host
                                                            city: {{ user_data.city }}
                                                        <li class="list-group-item">🐾 Hosted type of
                                                            pet: {{ advert.petType }}</li>
                                                                                  <li class="list-group-item"><a
                                                                href="stayPossibility?id={{ advert.id }}">more info...</a></li>
                                                    </ul>

                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="row">
                                        {% if logout %}
                                            <form class="form-login" method="post" action="/addHostAdvert">
                                                {% csrf_token %}
                                                {{ form.as_p }}
                                                <button class="btn btn-outline-primary center-block" type="submit">
                                                    Add host advert
                                                </button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9 admin-content" id="pets">
                            <div class="panel panel-default" style="margin: 1em;">
                                <div class="panel-heading">
                                    <h3 class="panel-title" style="font-family: Lato;font-size:large">Meet my
                                        pets:</h3>
                                </div>
                                <div class="panel-body">
                                    {% comment %}<div class="row" id="row-pet">{% endcomment %}
                                    {% if pets == Nil %}
                                        <p> You haven't added any pet</p>
                                    {% else %}
                                        {% for pet in pets %}

                                            <div class="panel-body">


                                                <div class="col-xs-12 col-sm-6">

                                                    <div class="profile-header-title">
                                                        <div style="font-family: Lato;font-size: x-large">
                                                            {{ pet.name }} </div>

                                                    </div>
                                                    <div class="profile-header-img" style="position: relative">
                                                        <div class="row">

                                                            <img class="img-circle" {% if logout %}
                                                                 id="petsAvatar" {% endif %}
                                                                 src={{ pet.photo.url }} style="width:200px;height:200px;display:block"/>
                                                        </div>
                                                        <div class="rank-label-container">
                                                        </div>

                                                    </div>
                                                    <div class="profile-header-button">

                                                        {% if logout %}
                                                            <form class="form-login" method="get"
                                                                  action="/removePet">
                                                                <input type="hidden" name="petId"
                                                                       value={{ pet.id }}>
                                                                <button class="btn btn-outline-primary "
                                                                        type="submit">
                                                                    Delete pet
                                                                </button>
                                                            </form>
                                                        {% endif %}

                                                    </div>


                                                </div>

                                                <div class="col-xs-12 col-sm-6">
                                                    <ul class="list-group" style="padding-top: 50px">
                                                        <li class="list-group-item">
                                                            Weight: {{ pet.weight }}</li>
                                                        <li class="list-group-item">
                                                            Height: {{ pet.height }}</li>
                                                        <li class="list-group-item">Type: {{ pet.type }}</li>
                                                        <li class="list-group-item">Breed: {{ pet.breed }}</li>
                                                        <li class="list-group-item">Age: {{ pet.age }}</li>

                                                    </ul>
                                                </div>


                                            </div>

                                        {% endfor %}
                                    {% endif %}
                                    {% comment %} </div>{% endcomment %}
                                    {% if logout %}
                                        <div class="row2">
                                            <form class="form-login" method="post" action="/addPet">
                                                {% csrf_token %}
                                                {{ form.as_p }}

                                                <button class="btn btn-outline-primary" type="submit">
                                                    Add new pet
                                                </button>
                                            </form>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 admin-content" id="reputation">
                            <div class="panel panel-default" style="margin: 1em;">
                                <div class="panel-heading">
                                    <h3 class="panel-title">My stats</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                          <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <td></td>
                                                <td>💚</td>
                                                <td>🖤</td>
                                                <td>💔</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>As caretaker</td>
                                                <td>{{ rep.ct.pos }}</td>
                                                <td>{{ rep.ct.neu }}</td>
                                                <td>{{ rep.ct.neg }}</td>
                                            </tr>
                                            <tr>
                                                <td>As owner</td>
                                                <td>{{ rep.ow.pos }}</td>
                                                <td>{{ rep.ow.neu }}</td>
                                                <td>{{ rep.ow.neg }}</td>
                                            </tr>
                                            <tr>
                                                <td>Total</td>
                                                <td>{{ rep.ct.pos|add:rep.ow.pos }}</td>
                                                <td>{{ rep.ct.neu|add:rep.ow.neu }}</td>
                                                <td>{{ rep.ct.neg|add:rep.ow.neg }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p></p>
                                        <p></p>
                                        <p></p>
                                        {% if not logout %}
                                            {#                                            <form class="form-login" method="post" action="/addComment">#}
                                            {#                                                {% csrf_token %}#}
                                            {#                                                {{ form.as_p }}#}
                                            {##}
                                            {#                                                <button class="btn btn-outline-primary" type="submit">#}
                                            {#                                                    Add new pet#}
                                            {#                                                </button>#}
                                            {#                                            </form>#}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>
{% endblock %}
