{% extends "base.html" %}

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
    <div class="row">
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="container" style="position: center;">
                    <div class="card hovercard">
                        <div class="container">
                            <div class="row">
                                <div class="profile-header-container">
                                    <div class="profile-header-img" style="position: relative">
                                        <div>
                                            <img class="img-circle" {% if logout %} id="avatar" {% endif %}
                                                 src={{ user_data.photo.url }} style="width:200px;height:200px;display:block"/>
                                            {% if logout %}
                                                <a href="/addPhoto">
                                            {% endif %}
                                            <img src="static/img/plus.png" id="plus"
                                                 style="width:200px;height:200px;"/>
                                            {% if logout %}
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="rank-label-container">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-info"><span class="card-title"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-stacked admin-menu">
                            <li class="active"><a href="" data-target-id="profile"><i
                                    class="glyphicon glyphicon-user"></i> Profile</a></li>
                            <li><a href="" data-target-id="aboutMe"><i
                                    class="glyphicon glyphicon-pencil"></i> About me</a></li>
                            <li><a href="" data-target-id="pets"><i class="glyphicon glyphicon-heart"></i> Pets</a></li>
                            <li><a href="" data-target-id="calendar"><i
                                    class="glyphicon glyphicon-calendar"></i> My calendar</a></li>
                            {% if logout %}
                                <li><a href="/logout"><i
                                        class="glyphicon glyphicon-lock"></i> Logout</a></li>
                            {% endif %}
                        </ul>
                    </div>


                    <div class="col-md-9 admin-content" id="profile">
                        {% csrf_token %}
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Name</h3>
                            </div>
                            <div class="panel-body">
                                {{ user.first_name }} {{ user.last_name }}
                            </div>
                        </div>
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Email</h3>
                            </div>
                            <div class="panel-body">
                                {{ user.email }}
                            </div>
                        </div>

                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">City</h3>
                            </div>
                            <div class="panel-body">
                                {{ user_data.city }}
                            </div>
                        </div>
                        <div class="panel panel-info" style="margin: 1em;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Phone number</h3>
                            </div>
                            <div class="panel-body">
                                {{ user_data.contact }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
