{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dir-pages.css' %}"/>
    <div class="container" style="position: center;">

        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title" style="font-family:lobster;">Host me pls</h1>
                <div class="col-xs-16 col-sm-16">
                    <ul class="list-group">
                        <li class="list-group-item">


                            <div class="row">

                                <img class="img-circle"
                                     src={{ st_rq.petId.photo.url }} style="width:110px;height:110px;display:inline-block"/>
                            </div>
                            <div style="font-size: large">My name is {{ st_rq.petId.name }} and I am
                                {% if st_rq.petId.type == "Other" %}{{ st_rq.petId.other }}{% else %}
                                    {{ st_rq.petId.type }}{% endif %}
                            </div>
                        </li>
                        <li class="list-group-item">👱 Owner: <a
                                href="/profile?id={{ st_rq.userId.id }}">{{ st_rq.userId.username }}</a></li>
                        <li class="list-group-item">🏙️ City: {{ city }}</li>
                        <li class="list-group-item">📅 From: {{ st_rq.startDate }}</li>
                        <li class="list-group-item">📅 To: {{ st_rq.endDate }}</li>
                        {% if request.user != st_rq.userId %}
                            <li class="list-group-item">
                                <form method="post" action="proposeStay">
                                    {% csrf_token %}
                                    <input type="hidden" name="pos">
                                    <input type="hidden" name="req" value={{ r.id }}>
                                    <input type="hidden" name="side" value="pos">
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                                        Offer care
                                    </button>
                                </form>
                            </li>
                        {% endif %}


                    </ul>
                </div>

                {% if recom is not None %}
                    <div class="col-xs-16 col-sm-16">
                        <ul class="list-group">
                            <li class="list-group-item"><b>Recommendations</b></li>
                            {% if recom|length == 0 %}
                                <li class="list-group-item">Nothing to show</li>
                            {% endif %}
                            {% for r in recom %}
                                <li class="list-group-item">
                                    <p>User <a
                                            href="/profile?id={{ r.userId.id }}">{{ r.userId.username }}</a> can
                                        take {{ r.petType }}</p>
                                    <p>Days: {{ r.startDate }}-{{ r.endDate }}</p>
                                    <p>
                                    <form method="post" action="proposeStay">
                                        {% csrf_token %}
                                        <input type="hidden" name="pos" value={{ r.id }}>
                                        <input type="hidden" name="req" value={{ st_rq.id }}>
                                        <input type="hidden" name="side" value="req">
                                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                                            Ask for care
                                        </button>
                                    </form>
                                    </p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}