{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dir-pages.css' %}"/>
    <div class="container" style="position: center;">

        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title" style="font-family:lobster;">Stay possibility</h1>
                <div class="col-xs-16 col-sm-16">
                    <ul class="list-group">
                        <li class="list-group-item">👱 User:  <a
                                            href="/profile?id={{ st_ps.userId.id }}">{{ st_ps.userId.username}}</a></li>
                        <li class="list-group-item">🏙️ City: {{ city }}</li>
                        <li class="list-group-item">📅 From: {{ st_ps.startDate }}</li>
                        <li class="list-group-item">📅 To: {{ st_ps.endDate }}</li>
                        <li class="list-group-item">💚 Pet type: {{ st_ps.petType }}</li>
                    </ul>
                </div>

                {% if recom is not None %}
                    <div class="col-xs-16 col-sm-16">
                        <ul class="list-group">
                            <li class="list-group-item"><b>Recommendations</b></li>
                            {% if recom|length == 0 %}
                                <li class="list-group-item">Nothing to show</li>
                            {% endif %}
                            {% for r in recom %}
                                <li class="list-group-item">
                                    <p>Pet {{ r.petId.name }} of user <a
                                            href="/profile?id={{ r.userId.id }}">{{ r.userId.username }}</a></p>
                                    <p>Days: {{ r.startDate }}-{{ r.endDate }}</p>
                                </li>
                                <form method="post" action="proposeStay">
                                    {% csrf_token %}
                                    <input type="hidden" name="pos" value={{ st_ps.id }}>
                                    <input type="hidden" name="req" value={{ r.id }}>
                                    <input type="hidden" name="side" value="pos">
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                                        Offer care
                                    </button>
                                </form>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}