{% extends "base.html" %}
{% load static %}
{% block content %}
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster"/>



    <div id="bck-container">
        <section id="bck-img">
            <div id="backgrounds">
                <img src="static/img/bck-img/one.png" alt="">
                <img src="static/img/bck-img/two.png" alt="">
                <img src="static/img/bck-img/three.png" alt="">
                <img src="static/img/bck-img/four.png" alt="">
                <img src="static/img/bck-img/five.png" alt="">
                <img src="static/img/bck-img/six.png" alt="">
                <img src="static/img/bck-img/seven.png" alt="">
                <img src="static/img/bck-img/eight.png" alt="">
            </div>
            <div id="bck-img-content">
                <script src="static/js/img_slide.js"></script>
                <h1 class="bck-img-h1" style="font-family: Lobster;font-size:40px;margin-top: -100px">Explore our
                    community</h1>

                <h2 class="bck-img-h2" style="font-family: Lato;margin-top: 5%">
                    <div class="frontpage-wrapper">
                        <div>Search for pets to host</div>

                        <div>
                            <form class="navbar-form navbar-center" id="nav-elem-to-center" method="get"
                                  action="/guests">
                                <div class="form-group">
                                    {{ form }}
                                </div>
                                <button type="submit" class="btn btn-default">Search</button>
                            </form>
                        </div>
                    </div>

                    <div class="frontpage-wrapper">
                        <div>Search for hosts</div>

                        <div>
                            <form class="navbar-form navbar-center" id="nav-elem-to-center" method="get"
                                  action="/hosts">
                                <div class="form-group">
                                    {{ form }}
                                </div>
                                <button type="submit" class="btn btn-default">Search</button>
                            </form>
                        </div>
                    </div>


                </h2>


            </div>
        </section>
    </div>

    {% comment %}     <section id="bck-two">
              <img src="static/img/bck-img/one.png" alt="">
    </section>{% endcomment %}

{% endblock %}

