{% extends "base.html" %}
{% load static %}
{% block content %}
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster"/>



        <div id="bck-container">
    <section id="bck-img">
              <div id="backgrounds">
              <img src="static/img/bck-img/one.png" alt="">
            <img src="static/img/bck-img/two.png" alt="">
             <img src="static/img/bck-img/three.png" alt="">
                   <img src="static/img/bck-img/four.png" alt="">
        </div>
    <div id="bck-img-content">
        <h1 class="bck-img-h1" style="font-family: Lobster">Join community of people who love animals</h1>
                       <script src="static/js/img_slide.js"></script>
        <h2 class="bck-img-h2" style="font-family: Lato">
        <div>Get experience with hosting a pet.</div>
            <div>Leave your pupil with someone who really wants it.</div></h2>
                </div>
    </section>
    </div>

{% comment %}     <section id="bck-two">
              <img src="static/img/bck-img/one.png" alt="">
    </section>{% endcomment %}

{% endblock %}

