#content {
    background-image: url("../img/bck-img/one.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding-top: 45px;
    padding-bottom: 45px;
}

/*
#content:first-child {
    background-image: url("../img/bck-img/one.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
   !* heigh: auto;*!
        width: 100%;
    heigh: auto;
}*/
