html, body {
    height: 100%;
/*    max-width: 100%;*/

}

body {

    position: relative;
/*    max-width: 100vw;*/
    overflow-x: hidden;

}
#content:first-child{
    height: 100%;
}

#content {

    padding-top: 45px;
    padding-bottom: 35px;
}

#backgrounds img{
    position:fixed;
    z-index:1; // this is important
    top:0;
    left:0;
    width: 100%;
    heigh: auto;
    opacity:0;
    display:none;
}

#div-inline{

    display: inline-block;
    font-size: smaller;
}
#backgrounds{
    padding-bottom: 35px;
    position: sticky;
}

#bck-two img{

    position:relative;
    z-index:1; // this is important
    top:0;
    left:0;
    width: 100%;
    heigh: auto;

}

#bck-img-content {
    position:relative;
    z-index:3; // again, this is important

/*    background-image: url("https://image.ibb.co/bU8k67/kury.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;*/
}



.bck-img-h1 {

    text-align: center;
    color: #3b3923;
    font-size: 34px;
    font-weight: lighter;
    line-height: 1.1;
    margin-top: 5px;
    padding-top: 200px;
    size: auto;

}

.bck-img-h2 {

    text-align: center;
    color: #3b3923;
    font-size: 24px;
    font-weight: lighter;
    line-height: 1.1;
    margin-top: 10px;
    padding: 30px;
    size: auto;
}


#plus {
    transition: 1s;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#plus:hover {
    transition: 1s;
    opacity: 0.75;
}

.img-circle {
    margin: 20px;
    position: center;
}

#container{
    min-height:100%;
    position:relative;
}

#bck-container{
   padding:10px;
  /* padding-bottom:60px;*/
 }

.back-panel{
    padding-top: 20px;
}

.panel{
    position: relative;
    margin-right: 5%;
    margin-left: 5%;
}

#panel-bckgrd{
    margin: 0%;
}
.panel-heading{

    font-family: Lato;
    font-size: large;
}
.panel-heading:hover{
    border-color: #003366;

}

/*.frontpage-wrapper>div{
    display: inline-block;
}*/

.form-group>div{
    font-family: Lato;
}

.navbar-form{
     font-family: Lato;
    font-size: large;

}

#panel-search, #panel-profile {
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

#panel-profile{

    width: 20%;
}


#panel-search {
    width: 59%;

}


.box {
    background-color: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    margin: 10px auto;
    position: relative;
}

.footer{

    position:absolute;
   bottom:0;
   width:100%;
   height:35px;

    z-index: 3;
}

.list-group-item>div{
    display: inline-block;
}


.list-group-item{
    color: cadetblue!important;
}

.profile-header{
    display: inline-block;

}

.ce{
    display: inline-block;
}

.profile-header {
    font-family: Lobster;
    font-size: 35px;
    color: cadetblue;
}